.Hero {
    background-image: url('/images/hero_section/cover_photo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.heroButtons {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
}

.hbStyle1 {
    background-color: #00A0C1;
    max-width: 25% !important;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 37px;
    color: white;
    border: transparent;
    font-size: 20px;
}

.hbStyle2 {
    margin-left: 5%;
    background-color: transparent;
    max-width: 25% !important;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 37px;
    color: #00A0C1;
    border: #00A0C1 1px solid;
    font-size: 20px;
}

.heroTitle {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.heroTitle h1 {
    font-size: 80px;
    font-weight: bold;
}

.Hero p {
    font-size: 26px;
    font-weight: 200;
}

.heroForm h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.heroForm {
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 40px;
}

.formLabels {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .Hero {
        height: auto;
        padding: 50px 0;
        background-position: top center;
    }

    .heroTitle h1 {
        font-size: 40px;
        text-align: center;
    }

    .Hero p {
        font-size: 18px;
        text-align: center;
    }

    .heroForm {
        margin-top: 30px;
        min-height: auto;
        padding: 20px;
    }
    .heroButtons {
        flex-direction: column;
        align-items: center;
    }

    .hbStyle1 {
        width: 90%;
        max-width: 90% !important;
        margin-left: 0;
        padding: 20px 20px 20px 20px !important;
    }

    .hbStyle2 {
        width: 75%;
        max-width: 90% !important;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .heroButtons {
        flex-direction: column;
        align-items: center;
    }

    .hbStyle1, .hbStyle2 {
        width: 80%;
        max-width: 80% !important;
        margin-left: 0;
        margin-bottom: 15px;
    }
   .hbStyle2 {
        width: 60%;
        max-width: 80% !important;
        margin-left: 0;
        margin-bottom: 15px;
    }
}
