.whyChooseUs {
    margin-top: 5%;
}

.wcuText h1 {
    font-weight: bold;
}
.card {
    margin-top: 10%;
    margin-bottom: 10%;
}
.card-body{
    background-color: #A9D6FF;
    height: 150px;
}
.card-title {
    font-weight: bold;
}
.iconCard {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    color: #FFA62B;
}


.wcuList li {
    list-style-type: '- ';
    color: #737373;
    margin-bottom: 5px;
}
.wcuLink {
    color: #FFA62B;
    text-decoration: none;
}

.card-body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }

@media screen and (max-width: 767px) {

    .wcuText h1 {
        font-weight: bold;
        font-size: 52px;
    }
    .card {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .wcuList li {
        font-size: 16px;
    }
    .wcuLink {
        font-size: 16px;
    }
    .card-body {
        height: auto;
        padding: 15px;
    }

    .iconCard {
        width: 60px;
        height: 60px;
        padding: 15px;
    }

    .card-body2 {
        height: auto;
        padding: 15px;
    }
}
